<p class="text-center text-uppercase text-muted font-weight-light mb-0 letter-space-3"><small>Bienvenido a</small></p>
<a class="text-center d-block my-3" href="@Url.Content("~/")">
    <img src="@Url.Content("~/Imagenes/PROVEP_Escala_Grises.png")" title="PROGRAMA DE SELECCIÓN ALEATORIA PARA LA VERIFICACIÓN PATRIMONIAL" height="50" class="d-none d-sm-block m-auto">
</a>

<div class="w-75 m-auto">
    <p class="text-muted text-center">Inicia sesión ingresando tu usuario y contraseña.</p>
</div>



